.vertical-menu {
  width: 200px;
}

.vertical-menu a.google {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a.github {
  background-color: #ccc;
}

.vertical-menu a.inicio {
  background-color: #04AA6D;
  color: white;
}