*{
  font-family: 'Courier New', Courier, monospace;
  background-color: #f5d6de;
  text-align: center;
}
.vertical-menu {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .vertical-menu a {
    background-color: #b82c4f;
    color: rgb(255, 255, 255);
    display: block;
    padding: 15px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #b82c4f;
  }
  
  .vertical-menu a.active {
    background-color: #b82c4f;
    color: white;
  }
  h2 {
    text-align: center;
    color: #3e0f1b;
  }