*{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
.vertical-menu {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .vertical-menu a {
    background-color: #d1001c;
    color: rgb(255, 255, 255);
    display: block;
    padding: 15px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #d1001cce;
  }
  
  .vertical-menu a.active {
    background-color: #d1001c;
    color: white;
  }
  h1 {text-align: center;}